body{
    background-image: url("https://cchm.codebrigade.in/images/Chitkara_University_pic.jpg");

    background-repeat: no-repeat;
    background-size: cover;
}
img{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  
}
div{
    width: 300px;
    height: 600px;

}
form{
    background-color: #ffff;
    width: auto;
    padding-top: 0px;
    float: right;
    margin: 150px;
    padding: 10px;
    
}
input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 90%;
    min-height: 10px;
    padding: 5px;
  }
  button{
    color: white;
    background-color: rgb(189, 3, 3);
    margin: center;
    display: block;
    padding: 10px 100px 10px 100px;
  }
  .RememberPassword{
    display: inline-block;
  }